
.main-bg-color {
    background-color: #289BDE;
}
.base-color {
    color: #289BDE;
}
.bg-explore {
    background-color: #F4FAFD;
}
.btn-general {
    background-color: #289BDE;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 30px;
}
.btn-transparent {
    background-color: white;
    color: #289BDE;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #289BDE;
    border-radius: 5px;
    padding: 10px 30px;
}
.btn-transparent:hover {
    background-color: #289BDE;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 30px;
}

.car-img {
    filter:brightness(50%)
}